* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body, 
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
}